/* pouzivame intuitivnejsi box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
https://fonts.google.com/specimen/Source+Sans+Pro
*/

body {
	padding: 0;
	margin: 0;
	background-color: #e5e5e5;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

.obal {
	max-width: 960px; /* obsah stránky je omezený do pruhu širokého max. 960px */
	margin: 0 auto; /* pruh je na stránce vycentrovaný */
	background: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	padding: 30px;
}

.appka {
	font-weight: bold;
}


.obal ul {
	display: flex;
	justify-content: left;	
	list-style: none;
	padding: 0 0 0 20px;
}

.obal li {
	padding: 30px 30px 30px 0;
}

.obal li a {
	text-decoration: none;
	color: black;
}

.obal li a:hover {
	background-color: #654597;
	padding: 20px;
}

.hero {
	position: relative;
	background-image: url(images/pozadi.jpg);
	background-repeat: no-repeat;   /* obrázek se nebude opakovat */
  	background-size: cover;        /* obrázek vyplní celý box a ořízne se */
  	background-position: center; 
	padding: 30px 0 30px 20px;
}

.hero__title {
	color: white;
	font-size: 36px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 30px;
}

.hero__text {
	color: white;
	font-size: 22px;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 30px;
}

.hero__image {
	width: 35%;
	height: auto;
	position: absolute;
	right: 0;
	bottom: 0;
}

.buttons {
	display: flex;
	flex-direction: column;
  	gap: 10px;
}

.buttons__button {
	max-width: 200px;
  	width: 100%; 
	color: white;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	padding: 10px 20px;
	border: 1px solid white;
	border-radius: 12px;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.buttons__button:hover {
	background-color: #654597;
}

.buttons__button--big {
	margin-right: 10px;
}

footer {
	background-color: #654597;
	text-align: center;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer p {
	margin: 0; 
}


/* ----- zde začni psát vlastní CSS ----- */
